<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Database</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Database Contents</h1>
    <h2>Accounts</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.username }}</td>
                <td>{{ account.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Groups</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>tbe</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.username }}</td>
                <td>{{ account.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Character</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>bio</th>
                <th>image</th>
            </tr>
        </thead>
        <tbody>
            {% for character in characters %}
            <tr>
                <td>{{ character.account_id}}</td>
                <td>{{ character.id }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.bio }}</td>
                <td>{{ character.image}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
